<h3>Events List</h3>

<%= will_paginate @events %>

<table class="table table-hover table-bordered">
  <thead>
    <th>Name</th>
    <th>Date</th>
    <th>Ticket Fee</th>
    <th>Users</th>
    <th>Attend/Unattend</th>

  </thead>
  <% @events.each do |event| %>
  <tr>
    <td>
      <%= event.name %>
    </td>
    <td>
      <%= event.event_date.localtime.strftime("%d-%m-%Y %H:%M:%S") %>
    </td>
    <td>
      <%= event.fee %>
    </td>
    <td>
      <%= link_to 'View Attendees', event_users_path(event.id) ,:class => "btn" %>
    </td>
    <td>
      <% if current_user && !event.is_past_event? %>
        <% if event.user_events.where(:user_id => current_user.id).present? %>
          <%= link_to 'UnAttend', event_unattend_path(event.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true, :class => "btn" %>
        <% else %>
          <% event_fee = event.get_ticket_fee(current_user) %>
          <%= link_to 'Attend', event_attend_path(event.id), method: :post, data: { confirm: "You will have to pay Rs.#{event_fee} as ticket fee." }, remote: true, :class => "btn" %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @events %>

<style>
  .btn {
    background-color:#79899a;
  }

</style>
