<!DOCTYPE html>
<html>
  <head>
    <title>TicketManagementSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => 'shared/navbar' %>
    <div class="container" style="background-color:#b3c7d8bf;">
      <% if flash[:notice] %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-waring"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
